[submodule "content/build/bee/production"]
	path = content/build/bee/production
	url = https://github.com/dr-electron/bee
	branch = docs/new-build-system
[submodule "content/build/chronicle.rs/production"]
	path = content/build/chronicle.rs/production
	url = https://github.com/dr-electron/chronicle.rs
	branch = docs/new-build-system
[submodule "content/build/chrysalis-docs/production"]
	path = content/build/chrysalis-docs/production
	url = https://github.com/dr-electron/chrysalis-docs
	branch = docs/new-build-system
[submodule "content/build/goshimmer/production"]
	path = content/build/goshimmer/production
	url = https://github.com/dr-electron/goshimmer
	branch = docs/new-build-system
[submodule "content/build/hornet/production"]
	path = content/build/hornet/production
	url = https://github.com/dr-electron/hornet
	branch = docs/new-build-system
[submodule "content/build/identity.rs/production"]
	path = content/build/identity.rs/production
	url = https://github.com/dr-electron/identity.rs
	branch = docs/new-build-system
[submodule "content/build/iota.rs/production"]
	path = content/build/iota.rs/production
	url = https://github.com/dr-electron/iota.rs
	branch = docs/new-build-system
[submodule "content/build/streams/production"]
	path = content/build/streams/production
	url = https://github.com/dr-electron/streams
	branch = docs/new-build-system
