[submodule "content/build/identity.rs/dev"]
	path = content/build/identity.rs/dev
	url = https://github.com/Dr-Electron/identity.rs
	branch = docs/new-build-dev
[submodule "content/build/identity.rs/0.5.0"]
	path = content/build/identity.rs/0.5.0
	url = https://github.com/Dr-Electron/identity.rs
	branch = docs/new-build-system-versioning
